<h2 class='mb-3'>Welcome <%= current_user.name %></h2>

<h3 class='text-muted'>This is the list of your created events:</h3>
<% created_events %>

<h3 class='text-muted'>Upcoming events:</h3>
<% upcomming_events %>

<h3 class='text-muted'>Previously Attended Events:</h3>
<% past_events %>